@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--font-sans: 'Roboto';
	--text-11: 11px;
	--text-15: 15px;
	--spacing-sidebar-full: 279px;
	--spacing-form: 600px;
	--color-border-form: #e0e0e0;
	--color-translucid-black: rgba(0, 0, 0, 0.08);

	--shadow-xl: 0 3px 5px rgba(0, 0, 0, 0.2);
	--shadow-popover: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
		0 2px 6px 2px rgba(60, 64, 67, 0.15);
	--shadow-chip: rgba(0, 0, 0, 0) 0px 0px 0px 1;

	/* backgrounds */
	--color-background: #ffffff;
	--color-background-dark: #202124;

	/* text */
	--color-txt: rgb(32, 33, 36);
	--color-txt-translucid: rgba(0, 0, 0, 0.6);
	--color-txt-translucid-darker: rgba(0, 0, 0, 0.87);
	--color-txt-dark: rgb(232, 234, 237);

	/* colors */
	--color-coral: #faafa8;
	--color-coral-dark: #77172e;

	--color-peach: #f39f76;
	--color-peach-dark: #692b17;

	--color-sand: #fff8b8;
	--color-sand-dark: #7c4a03;

	--color-peppermint: #e2f6d3;
	--color-peppermint-dark: #264d3b;

	--color-salvia: #b4ddd3;
	--color-salvia-dark: #0c625d;

	--color-lightgray: #d4e4ed;
	--color-lightgray-dark: #256377;

	--color-storm: #aeccdc;
	--color-storm-dark: #284255;

	--color-twilight: #d3bfdb;
	--color-twilight-dark: #472e5b;

	--color-flower: #f6e2dd;
	--color-flower-dark: #6c394f;

	--color-clay: #e9e3d4;
	--color-clay-dark: #4b443a;

	--color-chalk: #efeff1;
	--color-chalk-dark: #202124;

	/* buttons */
	--color-button-background-yellow: #feefc3;
	--color-button-background-yellow-dark: #41331c;

	--color-button-background-gray: #e9eaea;
	--color-button-background-gray-dark: #313236;
}
